<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Sheet</title>
</head>
<body>
    <h1>Score Sheet</h1>
    <p>Your final score is: {{ score }}</p>
    <form action="{{ url_for('index') }}">
        <button type="submit">Go to Home Page</button>
    </form>
    <form action="{{ url_for('quiz') }}">
        <button type="submit">Play Again</button>
    </form>
</body>
</html>
